/* margin and padding for all classes and tags */
*{
    margin: 0px;
    padding:0px;
    }

/* design for mobile first as below */
.logo{
    width: 30px;
    height: 100%;
    background-color: #fff;
    margin-left: -1px;
    }
.navbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    position: relative;
    }
.left-part{
    padding: 5px;
    background-color: #2874f0;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0px;
    }
.right-part{
    padding: 15px;
    display: flex;
    width: 100%;
    background-color: #2874f0;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    padding-right: 0px;
    }
.search-area{
    display: flex;
    width: 70%;
    height: 85%;
    color: #222;
    padding: 10px;
    align-items: flex-end;
    }
.header-name{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-content: center;
    margin-top: 5px;
    font-family: Roboto,Arial,sans-serif;
    }
.search-bar{
    height: 80%;
    width: 100%;
    border: none;
    outline: none;
    margin-left: 0px;
    }
.logo{
    height: 80%;
    }
.main-name{
    font-weight: bold;
    margin-top: -5px;
    text-align: right;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    margin-right:9px;
    }
.sub-name{
    margin-left: 10px;
    text-align: right;
    color: #fff;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 9px;
    margin-right: -4px;
    }
.plus{
    color: #ffe500;    
    }
.plus-logo{
    width: 10px;    
    }
.login{
    background-color: #fff;
    color: #2874f0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    width: 130px;
    height: 30px;
    border: none;
    }
.more-btn{
    color:#fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    }
.cart-btn{
    color:#fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-right:68px;
    }
.down-arrow{
    width: 15px;
    height: 15px;
    }
.cart{
    display: flex;
    }
.cart-logo{
    align-items: center;
    width: 20px;
    height: 20px;
    }
.featured-list{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 4%;
    margin-top: 15%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 10px;
    position: relative;

    }

figcaption{
    justify-content: center;
    text-align: center;
    overflow: hidden;
    font-family: Roboto,Arial,sans-serif;
    margin-top: 5px;
    color: #111;
    }
.featured-logo{
    width: 60px;
    align-self: center;
    }
.featured-items{
    justify-content:center;
    display: flex;
    flex-direction: column;
    }
.line{
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin-left: 10px;
    margin-right: 10px;
    }
.item-set1{
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 10px;
    margin-left: 1%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 0%;
    }

.item-set1-header-name{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(34, 34, 34, 0.915);
    }
.item-set1-header-timer{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(144, 144, 144);
    font-size: 15px;
    }
.timer-logo{
    width:15px;
    height:15px;
    margin-left: 7px;
    margin-right: 7px;
    }
.view-all-btn{
    background-color: #2874f0;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 1px;
    float: right;
    margin-right: 10px;
    }
.item-set1-left{
    width: 100%;
    margin: 0px;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    margin-bottom: -10px;
    border-radius: 2px;

    }
.item-set2-left{
    width: 100%;
    background-color: rgba(204, 204, 204, 0.326);
    padding: 10px;
    justify-content: center;
    }
    .item-set2{
        margin: 10px;
        padding: 0px;
    }
.item-set1-content{
    display: flex;
    margin-top: 20px;
    overflow:auto;
    }
.right-part-logo{
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 94, 0, 0.63);
    }
.item-set1-right{
    height: 300px;
    padding: 5%;
    }
.all-items{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    padding: 10px;
    }
.item-details{
    text-align: center;
    font-weight: bold;
    color: rgba(34, 34, 34, 0.87);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px;
    }
.item-discount{
    text-align: center;
    color: rgba(46, 129, 32, 0.87);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;

    }
.item-des{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(144, 144, 144);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 5px;
    }
.all-items-logo{
    width: 100px;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    }

.sub-title{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(34, 34, 34, 0.87)   ;
    }
    .left-scroll-btn{
        position:ab;
        align-self: center;
        margin-left: 0%;
        width:35px;
        height: 75px;
        background-color: #fff;
        border: none;
        box-shadow:2px 2px 2px #ccc; 
        border-radius: 2px;
        }
    .left-scroll-btn:hover{
        box-shadow:0px 0px 3px 3px #ccc; 
    }
    .right-arrow{
        width: 18px;
        height: 18px;
    }
    .left-scroll-btn{
        position:absolute;
        right: 0;
        align-self: center;
        width:35px;
        margin-right: 3%;
        height: 70px;
        background-color: #fff;
        border: none;
        box-shadow:2px 2px 2px #ccc; 
        border-radius: 2px;
        }
    .left-scroll-btn:hover{
        box-shadow:0px 0px 3px 3px #ccc; 
    }
    .right-arrow{
        width: 17px;
        height: 17px;
    }
/* design for big size screen */
/* If Screen size > 700px */
/* use media query for above condition */
@media only screen and (min-width: 700px) {
*{
    margin: 0px;
    padding:0px;
    }
.logo{
    width: 27px;
    height: 27px;
    margin-left: -1px;
    }
.navbar{
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;

    }
.left-part{
    padding: 5px;
    width:65%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
.right-part{
    padding: 15px;
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-right: 100px;
    }
.search-area{
    background-color: #fff;
    display: flex;
    width: 50%;
    height: 38%;
    margin-right: 10px;
    align-items: center;
    }
.search-bar{
    height: 30px;
    width: 100%;
    border: none;
    font-size: 14px;
    outline: none;
    
    }
.header-name{
    display: flex;
    flex-direction: column;
    width: 50%;
    }

.main-name{
    font-weight: bold;
    margin-top: -8px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    margin-right: 10px;
    }
.sub-name{
    text-align: right;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    margin-right: 10px;
    }

.login{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    width: 130px;
    height: 30px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    }

.more-btn{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    }
.more{
    display: flex;
    flex-direction: row;
    align-items: center;
        }
.down-arrow{
    width: 15px;
    height: 15px;
    }

.cart{
    display: flex;
    }
.cart-btn{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    }
.cart-logo{
    align-items: center;
    width: 25px;
    height: 25px;
    }
.featured-list{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 4%;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 10px;
    }

figcaption{
    justify-content: center;
        }
.featured-logo{
    width: 60px;
    align-self: center;
    }
.featured-items{
    align-content: center;
    display: flex;
    flex-direction: column;
    }
.line{
    width: 100%;
    height: 2px;
    margin-left: 10px;
    margin-right: 10px;
    }
.item-set1{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 5%;
    margin-right: 0%;
    margin-top: 1%;
    margin-bottom: 0%;
    height: 19%;
    }
.item-set2{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 5%;
    margin-right: 6%;
    margin-top: 0%;
    margin-bottom: 0%;
    height: 19%;
    }

.item-set1-header-name{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    }
.timer-logo{
    width:20px;
    height:20px;
    margin-left: 10px;
    margin-right: 10px;
    }
.view-all-btn{
    font-size: 14px;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 1px;
    float: right;
    margin-right: 10px;
    }
.item-set1-left{
    width: 80%;
    margin: 0px;
    padding: 10px;
    margin-bottom: -10px;
    height: 72%;

    }
.item-set2-left{
    width: 100%;
    padding: 10px;
    }
.item-set1-right{
    height: 72%;
    }
.item-set1-content{
    display: flex;
    margin-top: 20px;
    overflow:auto;
    width: 100%;
    flex-direction: row;
    scrollbar-track-color: #fff;
    }
    .item-set1-content::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(18, 226, 28, 0.3); 
        border-radius: 10px;
    }
.all-items{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    padding: 10px;
    margin-bottom: 25px;
    }
.item-details{
    text-align: center;
    font-size: 14px;
    padding: 0px;
    }
.item-discount{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;

    }
.item-des{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    padding: 0px;
    }
.all-items-logo{
    width: 160px;
    height: 160px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    }
.right-part-logo{
    width: 100%;
    height: 86%;
    border: 2px solid rgba(255, 94, 0, 0.63);
}
.item-set1-right{
    height: 400px;
    padding: 0%;
    }
.sub-title{
    font-size: 15px;
    }
body{margin-bottom: 10px;    
    }
.left-scroll-btn{
    position:absolute;
    right: 0;
    align-self: center;
    width:50px;
    margin-right: 19%;
    height: 100px;
    background-color: #fff;
    border: none;
    box-shadow:2px 2px 2px #ccc; 
    border-radius: 2px;
    }
.left-scroll-btn:hover{
    box-shadow:0px 0px 3px 3px #ccc; 
}

.right-arrow{
    width: 20px;
    height: 20px;
}
}